<h1>
Pregunta soluciòn de problemas
</h1>

<p> Un prisionero está encerrado en una celda que tiene dos puertas: una conduce a la muerte y otra a la libertad. Cada puerta está custodiada por un vigilante El prisionero sabe que uno de ellos siempre dice la verdad, y el otro siempre miente. Para elegir la puerta por la que pasará solo puede hacer una pregunta a uno solo de los vigilantes.
¿Qué planteamiento debe hacer para salvarse?
</p>

<img src="https://www.paraloscuriosos.com/img/articles/3953/1200x630/56fd0dceea268_4.jpg"  
width="500"
height="300" ><br>


<button  (click)="myFunc()">A   </button> <h4>El planteamiento del prisionero podría ser: Si le pregunto al otro guardia por la puerta por la que tengo que salir, ¿qué me respondería?</h4><br>

<button (click)="Incorrecto()">B </button> <h4>El planteamiento del prisionero podría ser:  Le preguntè al otro guardia ¿quien es el guardia que miente?</h4><br>


<button (click)="Incorrecto()"> C </button> <h4>El planteamiento del prisionero podrìa ser: Preguntarle a alguno  ¿cual es la puerta es la que lo salvaría?</h4><br>

<button (click)="Incorrecto()"> D </button> <h4>El planteamiento del prisionero podría ser:Preguntar a uno si realmente existe una puerta que lo libere </h4>

